/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

:focus {
  outline: 0 !important;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #f53f85;
  text-decoration: none;
}

p {
  margin-bottom: 15px;
  color: #777777;
  line-height: 1.8;
  font-size: 15px;
}

p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: "Cabin";
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.bg-f5f5f5 {
  background-color: #f5f5f5;
}

/*default-btn&optional-btn*/
.default-btn {
  display: inline-block;
  border: 1px solid #f53f85;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  background-color: #f53f85;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.default-btn:hover {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

.optional-btn {
  display: inline-block;
  border: 1px solid #000000;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.optional-btn:hover {
  background-color: #f53f85;
  color: #ffffff;
  border-color: #f53f85;
}

/*section-title*/
.section-title {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.section-title span {
  display: block;
  margin-bottom: 8px;
  color: #f53f85;
  font-weight: 600;
}

.section-title h2 {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 700;
}

.section-title.text-start {
  max-width: 100%;
  position: relative;
  margin-left: 0;
  margin-bottom: 30px;
  margin-right: 0;
}

.section-title.text-start .default-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*form-control*/
.form-control {
  background-color: #f5f5f5;
  height: 48px;
  border-radius: 0;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding: 0 0 0 15px;
  border: 1px solid #f5f5f5;
  color: #000000;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:focus {
  border-color: #f53f85;
  background-color: #ffffff;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::placeholder {
  color: transparent;
}

.form-control::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control::-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control::placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

textarea.form-control {
  padding-top: 15px;
  height: auto !important;
}

.buy-now-btn {
  right: 20px;
  z-index: 99;
  top: 50%;
  position: fixed;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 30px;
  display: inline-block;
  color: #ffffff;
  background-color: #82b440;
  padding: 10px 20px 10px 42px;
  -webkit-box-shadow: 0 1px 20px 1px #82b440;
          box-shadow: 0 1px 20px 1px #82b440;
  font-size: 13px;
  font-weight: 600;
}

.buy-now-btn img {
  top: 50%;
  left: 20px;
  width: 15px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.buy-now-btn:hover {
  background-color: #f53f85;
  color: #ffffff;
}